.tweet-box {
    border: 3px solid rgba(238, 232, 232, 0.515);
    height: 165px;
    width: 700px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.tweetbox-toolbar-area {
    background-color: rgb(205, 240, 242);
    position: absolute;
    height: 160px;
    width: 695px;
    margin: 2px 2px 2px 2px;
    border-radius: 10px;
}

.tweetbox-input-area {
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 80px;
    width: 600px;
    margin: 18px 10px 10px 85px;
    border-radius: 7px;
    color: grey;
    font-size: 1.0em;
}

.tweetbox-input-area-inner {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: none;
    margin: 10px 0 0 520px;
}

.tweetbox-text {
    line-height: 20px;
    border: none;
    margin: 0px 0px 0 -510px;
    position: absolute;
    width: 500px;
    overflow: hidden;
    font-size: 0.9em;
}

.tweetbox-input-area-inner-icon {
    color: black;
    padding: 2px;
    margin: 0px;
}

.tweet-box-icon-wrapper {
    height: 51px;
    width: 51px;
    float: left;
    border-radius: 50px;
    margin: 14px 10px 5px 22px;
    position: absolute;
    background-color: rgb(0, 0, 0);
}

.tweet-box-icon-wrapper img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 50px;
    border: 2px solid rgb(255, 255, 255);
}

.tweetbox-buttons-wrapper {
    position: absolute;
    width: 97%;
    height: 80px;
    margin: 105px 50px 100px 10px;
}

.tweetbox-image-icon {
    margin: 10px 0 0 90px;
    float: left;
}

.tweetbox-image-icon:hover {
    background-color: rgba(56, 157, 234, 0.542);
}

.tweetbox-gif-icon {
    margin: 10px 0 0 20px;
    float: left;
}

.tweetbox-gif-icon:hover {
    background-color: rgba(56, 157, 234, 0.542);
}

.tweetbox-chart-icon {
    margin: 10px 0 0 20px;
    float: left;
}

.tweetbox-chart-icon:hover {
    background-color: rgba(56, 157, 234, 0.542);
}

.tweetbox-location-icon {
    float: left;
    margin: 10px 0 0 20px;
}

.tweetbox-location-icon:hover {
    background-color: rgba(56, 157, 234, 0.542);
}

.tweetbox-plus-icon-outer {
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 30px;
    width: 30px;
    margin: 5px 0 5px 560px;
    border-radius: 50px;
    text-align: center;
    line-height: 18px;
    border: 1px solid black;
}

.tweetbox-plus-icon {
    float: left;
    margin: 5px 8px 6px 7px;
    line-height: 20px;
    position: absolute;
}

.tweetbox-tweet-button {
    border-radius: 25px;
    position: absolute;
    margin: -35px 0 0 600px;
    padding: 6px;
    background-color: rgb(12, 173, 218);
    color: white;
    font-size: 0.9em;
    text-align: center;
    line-height: 18px;
    width: 65px;
    cursor: pointer;
}